In [11]:
from pyspark.sql import SparkSession, Row
spark = SparkSession.builder.master('local').appName('UDF').getOrCreate()

In [12]:
human_ages=[
    ('안현',39),('이주헌',24),('김혜자',83),
    ('한효주',36),('유재석',52),
    ('손석구',41),('임윤아',35),('김보석',24),('정진욱',23)
]

In [13]:
schema=['Name','age']

In [14]:
df=spark.createDataFrame(human_ages,schema)
df.createOrReplaceTempView('humans')

In [15]:
df.show()

+------+---+
|  Name|age|
+------+---+
|  안현| 39|
|이주헌| 24|
|김혜자| 83|
|한효주| 36|
|유재석| 52|
|손석구| 41|
|임윤아| 35|
|김보석| 24|
|정진욱| 23|
+------+---+

In [16]:
from pyspark.sql.functions import udf

In [17]:
def age_category(age):
    if age<35:
        group= 'young'
    elif age>=35 and age<60:
        group= 'adult'
    else:
        group= 'senior'
    return group

In [18]:
spark.udf.register('age_category',age_category)

In [19]:
spark.sql(
    "SELECT Name,\
    age_category(age)\
    FROM humans").show()

+------+-----------------+
|  Name|age_category(age)|
+------+-----------------+
|  안현|            adult|
|이주헌|            young|
|김혜자|           senior|
|한효주|            adult|
|유재석|            adult|
|손석구|            adult|
|임윤아|            adult|
|김보석|            young|
|정진욱|            young|
+------+-----------------+